$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

// Colors
$color-yellow: #e4e59f;

$color-green: #304028;
$color-green-light: #59800d;

body{
    /* Workaround for some mobile browsers */
    min-height:100%;
    background: transparent;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}

// -----------------------
// ** GLOBAL ** //
// -----------------------

h1 {
	font-size: 42px;
	font-weight: 200;
	letter-spacing: -4px;
	padding: 0;
}

h2 {
	font-weight: 200;
	font-size: 18px;
}

h3 {
	font-weight: 400;
	font-size: 16px;
}

h4 {
	font-size: 18px;
	font-weight: bold;
}

h4.about {
	padding-top: 0;
	margin-top:0;
}

a {
	color: $color-green-light;
}

a:hover {
	color: $color-green;
	text-decoration: none;
}

.current {
	color: $color-green-light;
}



// -----------------------
// ** Main Nav ** //
// -----------------------

// Main nav child pages
.nav-child {
	background: #fff;
	opacity: .8;
	transition: color 0.5s ease;
	transition: opacity 0.5s ease;
	padding-top: 0px;

	.nav-item {
		color: #000;
		transition: color .5s ease;
	}

	.nav-item:hover {
		color: $color-green-light;
		text-decoration: none;
	}

	.current {
		color: $color-green-light;
	}

	.list-inline > li {
		padding: 0;
	}
}

.nav-child:hover {
	color: #59800d;
	text-decoration: none;
	opacity: .8;
}

.navbar-brand {
	color: #444;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: -2px;
}

.navbar-brand:hover {
	color: $color-green;
}

.nav-list {
	margin: 4% auto;
}

.nav-item {
	padding: 10px 10px;
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	transition: color 1s ease;
}

.nav-item:hover {
	color: #a7d293;
	text-decoration: none;
}

// -----------------------
// ** Index Page Content ** //
// -----------------------

// main bg image
.bg-index {
	background: url(../images/bg/blossom.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  clear: both;
}

.index-content {
	margin-top: 20%;
}

// -----------------------
// ** About Page Content ** //
// -----------------------

.about-header {
	background: url(../images/bg/greenhouse-rows-small.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 200px;
}

.about-title {
	margin: 22% auto 25px auto;
	width: 96%;
}

.learn-more {
	font-size: 14px;
	margin-bottom: 0;
}

.learn-more-link {
	color: #fff;
}

.learn-more-link:hover {
	color: #fff;
	text-decoration: none;
}

.details {
	color: #000;
	padding-top: 75px;
}

.container-cols {
	max-width: 500px;
	padding: 20px 20px;
}

.img-100 {
    width: 70%;
    padding: 5%;
    border: 10px solid #000;
    margin-top: 30px;
}

.two-block {
	margin-top: 50px;
}



// -----------------------
// ** PHOTO GALLERY Page Content ** //
// -----------------------

.gallery-wrap {
	margin-top: 100px;
}

.photo-gallery-img {
    width: 100%;
    padding: 15px 0 15px 0;
}




// -----------------------
// ** CONTACT Page Content ** //
// -----------------------

.contact-wrap {
	margin-top: 100px;
	color: #000;
}


// -----------------------
// ** FOOTER GLOBAL ** //
// -----------------------

footer {
	margin-top: 100px;
	color: #000;
	margin: 0 auto;
	text-align: center;
}

.footer-container {
	padding-top: 100px;
	padding-bottom: 50px;
}























/* Responsive: 450 screen and up */
@media screen and (min-width: 450px) {



	// -----------------------
	// ** About Page Content ** //
	// -----------------------

	.about-header {
		height: 250px;
	}

	.about-title {
		margin: 19% auto 20px auto;
		width: 75%;
	}

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 1200px;
	}

	// -----------------------
	// ** GLOBAL ** //
	// -----------------------

	h1 {
		font-size: 54px;
		font-weight: 200;
		letter-spacing: -4px;
		padding: 0;
	}

	h2 {
		font-weight: 200;
		font-size: 36px;
	}

	h3 {
		font-weight: 400;
		font-size: 25px;
	}

	h4.about {
		padding-top: 0;
		margin-top:0;
	}


	// -----------------------
	// ** Main Nav ** //
	// -----------------------

	// Main nav child pages
	.nav-child {
		opacity: .6;
		padding-top: 15px;

		.list-inline > li {
			padding: 0 5px;
		}
	}

	.nav-list {
		margin: 1% 0 1% 0;
	}

	.nav-list.index {
		margin: 3% 0 1% 0;
	}

	.nav-item {
		padding: 15px 20px;
		font-size: 20px;
		color: #fff;
	}

	.navbar-brand {
		color: #444;
		font-size: 2em;
		font-weight: 200;
		letter-spacing: -2px;
	}



	// -----------------------
	// ** About Page Content ** //
	// -----------------------

	.about-header {
		background: url(../images/bg/greenhouse-rows.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		height: 275px;
	}

	.about-title {
		margin: 15% auto 35px auto;
		min-width: 300px;
		max-width: 575px;
	}

	.container-cols {
		padding: 0px 20px;
	}

	.img-100 {
	    margin-top: 0px;
	}
}

/* Responsive: 1400px wide and up */
@media screen and (min-width: 1000px) {
	.about-header { 
		height: 344px;
	}
	.about-title {
		margin: 15% auto 35px auto;
	}
}


/* Responsive: 1400px wide and up */
@media screen and (min-width: 1400px) {

	
}